[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = delta

[user]
	name = Serhii Dudar
	email = shtanga.net@gmail.com

; [diff]
;     colorMoved = default
;
; [pull]
;     rebase = true
;     default = current

[push]
    autoSetupRemote = true  # easier to push new branches
    default = current  # push only current branch by default
    # followTags = true  # push also tags

[rebase]
    autoStash = true
    missingCommitsCheck = warn  # warn if rebasing with missing commits

[init]
    defaultBranch = main

#################

[merge]
    tool = nvimdiff
    conflictstyle = diff3

[mergetool "nvimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c 'wincmd J' -c 'wincmd h' -c 'bufdo diffthis'

[diff]
    tool = nvimdiff
    colorMoved = default

[core]
    pager = delta

[delta]
    navigate = true
    light = false
    side-by-side = true
    line-numbers = true
    syntax-theme = gruvbox-dark
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-style = file line-number syntax