[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = delta

[user]
	name = Serhii Dudar
	email = shtanga.net@gmail.com

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    line-numbers = true

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3
    # tool = vimdiff
    # tool = diffview
    tool = "nvim"

[alias]
    st = status -sb
    # lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --date=short --color --decorate

[mergetool]
    prompt = false
    keepBackup = false

[mergetool "nvim"]
    cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""

[diff]
    colorMoved = default

[pull]
	rebase = false