# IDEA project files
.idea
.run
*.iml
*.iws
*.ipr
*.tgz
**/.DS_Store

# Build targets
out/
bin/
.vscode/
build/
target/
**/main/resources/logback-extend.xml
**/test/resources/application.properties
**/venv

awesome/.config/awesome/themes
ranger/.config/ranger/plugins
ranger/.config/ranger/colorschemes
alacritty/.config/alacritty/themes

# Generated classes
**/main/generated/
**/test/generated_tests/
**/__pycache__

# Gradle tools
.gradle/
local.gradle.properties

# Dev settings
application-dev.yml
