layout {
    tab_template name="first_init_tab_template" {
        pane size=1 borderless=true {
            //plugin location="tab-bar"
            plugin location="compact-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
    tab_template name="init_tab_template" {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        children
    }
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        children
    }
    first_init_tab_template name="ranger" focus=true {
        pane {
            name "ranger"
            command "ranger"
            args "."
        }
        //floating_panes close_on_exit=true {
        //    pane {
        //      plugin location="welcome-screen"
        //    }
        //}
        //floating_panes close_on_exit=true {
        //floating_panes close_on_exit=true {
        //    pane {
        //      name "greeting"
        //        command "zsh"
        //        args "-c" "echo hello && exit ; exit"
        //    }
        //}
    }
    init_tab_template name="k9s" {
        pane start_suspended=true {
            name "k9s"
            command "k9s"
        }
    }
    init_tab_template name="zsh" {
        pane {
            name "zsh"
        }
    }
    //tab name="tmux" {
    //    pane size=1 borderless=true {
    //        plugin location="tab-bar"
    //    }
    //    pane {
    //        name "tmux"
    //        command "zsh"
    //        args "-c" "tmux attach || tmux new -s default ; command-prompt -p \"Window name: \" \"rename-window '%%'\""
    //    }
    //}
}
