layout {
    tab_template name="first_init_tab_template" {
        pane size=1 borderless=true {
            //plugin location="tab-bar"
            plugin location="compact-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }
    tab_template name="init_tab_template" {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        children
    }
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="compact-bar"
        }
        children
    }
    first_init_tab_template name="files" focus=true {
        pane {
            name "files"
            command "/usr/local/bin/yazi"
            //name "ranger"
            //command "ranger"
            //args "."
        }
    }
    //first_init_tab_template name="ranger" focus=true {
    //    pane {
    //        name "ranger"
    //        command "ranger"
    //        args "."
    //    }
    //    //floating_panes close_on_exit=true {
    //    //    pane {
    //    //      plugin location="welcome-screen"
    //    //    }
    //    //}
    //    //floating_panes close_on_exit=true {
    //    //floating_panes close_on_exit=true {
    //    //    pane {
    //    //      name "greeting"
    //    //        command "zsh"
    //    //        args "-c" "echo hello && exit ; exit"
    //    //    }
    //    //}
    //}
    init_tab_template name="k9s" {
        pane start_suspended=true {
            name "k9s"
            //command "k9s"
            command "zsh"
            args "-c" "k9s"
        }
    }
    init_tab_template name="docker" {
        pane {
            name "zsh"
            cwd "~/serhii.home/work/git.work"
        }
    }
    init_tab_template name="temporal" {
        pane start_suspended=true {
            name "temporal"
            command "zsh"
            //args "-c" "./temporal server start-dev --db-filename temporal_dev_store.db"
            args "-c" "./temporal server start-dev --dynamic-config-value frontend.enableUpdateWorkflowExecution=true --db-filename temporal_dev_store.db"
            cwd "~/tools/temporal"
        }
    }
    init_tab_template name="zsh" {
        pane {
            name "zsh"
        }
    }
    //tab name="tmux" {
    //    pane size=1 borderless=true {
    //        plugin location="tab-bar"
    //    }
    //    pane {
    //        name "tmux"
    //        command "zsh"
    //        args "-c" "tmux attach || tmux new -s default ; command-prompt -p \"Window name: \" \"rename-window '%%'\""
    //    }
    //}
}
