[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	pager = delta

[user]
	name = IUADA144
	email = serhii.dudar@raiffeisen.ua

[alias]
    st = status -sb
    # lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --date=short --color --decorate

[interactive]
    diffFilter = delta --color-only

[init]
    defaultBranch = main

[delta]
    navigate = true    # use n and N to move between diff sections
    line-numbers = true
    light = false
    side-by-side = false
    line-numbers = true
    syntax-theme = gruvbox-dark
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-style = file line-number syntax
    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

# https://github.com/chojs23/ec
[merge]
    tool = ec # diffview|nvimdiff|vimdiff|ec
    conflictstyle = diff3

[mergetool "ec"]
    cmd = ec "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    trustExitCode = true

[mergetool]
	keepBackup = false
	prompt = false

; [mergetool "diffview"]
;     cmd = nvim -n -c "DiffviewOpen" "$MERGE"
;     trustExitCode = true

# need have configured [https://github.com/akinsho/git-conflict.nvim] or similar solution to works with conflicts, I prefer diffview
; [mergetool "nvimdiff"]
;     cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
;     trustExitCode = true

[diff]
    colorMoved = default
    tool = ec # nvimdiff

[pull]
    # rebase = false
    rebase = true
    default = current

[rebase]
    autoStash = true
    missingCommitsCheck = warn  # warn if rebasing with missing commits

[push]
    autoSetupRemote = true  # easier to push new branches
    default = current  # push only current branch by default
    # followTags = true  # push also tags
[mergetool "ec"]
	cmd = ec \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"