[Desktop Entry]
Name=Bspwm
Comment=Binary space partitioning window manager
Exec=$HOME/dotfiles/scripts/desc/bspwm.desktop.runner.sh
Type=Application
