#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    background_color: None, // "#1e2030",
    text_color: "253",
    header_background_color: None,
    modal_background_color: None,
    tab_bar: (
        enabled: true,
        active_style: (fg: "black", bg: "#a074c4", modifiers: "Bold"),
        inactive_style: (fg: "cyan", bg: None, modifiers: None),
    ),
    highlighted_item_style: (fg: "blue", bg: "235", modifiers: "Bold | Underlined"),
    current_item_style: (fg: "black", bg: "blue", modifiers: "Bold"),
    borders_style: (fg: "#a074c4", modifiers: "Bold"),
    highlight_border_style: (fg: "#a074c4", modifiers: "Bold"),
    symbols: (
        song: "🎵", 
        dir: "📂", 
        marker: "⭐",// "✅", 
        ellipsis: "..."
    ),
    progress_bar: (
        // symbols: ["-", ">", " "],
        // symbols: ["▄", "▄", "▄"],
        //symbols: ["█", "█", "█"],
        // symbols: ["▅", "▅", "▅"],
        // symbols: ["▇", "▇", "▇"],
        // symbols: ["■", "■", "■"],
        // symbols: ["▣", "▣", "▣"],
        symbols: ["▬", "▬", "▬"],
        track_style: (fg: "#1e2030"),
        elapsed_style: (fg: "#a074c4"),
        thumb_style: (fg: "#a074c4"),
        // thumb_style: (fg: "blue", bg: "#1e2030"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (fg: "#a074c4"),
        ends_style: (fg: "#a074c4"),
        thumb_style: (fg: "#a074c4"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-")),
                style: (fg: "107"),
            ),
            width: "5%",
            alignment: Left,
        ),
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown")),
                style: (fg: "134"),
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown")),
                style: (fg: "29"),
            ),
            width: "45%",
        ),
        (
            prop: (kind: Property(Album),
                style: (fg: "182", modifiers: "Italic"),
                default: (
                    kind: Text("Unknown Album"),
                    // style: (fg: "blue")
                )
            ),
            width: "30%",
            // label: "Some Album"
        )
    ],
    // layout: Split(
    //     direction: Vertical,
    //     panes: [
    //         (
    //             pane: Pane(Header),
    //             size: "2",
    //         ),
    //         (
    //             pane: Pane(Tabs),
    //             size: "3",
    //         ),
    //         (
    //             pane: Pane(TabContent),
    //             size: "100%",
    //         ),
    //         (
    //             pane: Pane(ProgressBar),
    //             size: "1",
    //         ),
    //     ],
    // ),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "8",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "14",
                            borders: "ALL",
                            pane: Pane(AlbumArt),
                        ),
                        (
                            size: "100%",
                            borders: "ALL",
                            pane: Split(
                                direction: Vertical,
                                panes: [
                                    (
                                        size: "5",
                                        pane: Pane(Header),
                                    ),
                                    (
                                        size: "3",
                                        pane: Pane(Tabs),
                                    ),
                                ]
                            )
                        ),
                    ]
                ),
            ),
            (
                size: "100%",
                borders: "ALL",
                pane: Pane(TabContent),
            ),
            //// ############# progress bar style 1 #############
            // (
            //     pane: Pane(ProgressBar),
            //     size: "1",
            // ),
            //// ############# progress bar style 2 #############
            // (
            //     pane: Split(
            //         direction: Horizontal,
            //         panes: [
            //             (
            //                 size: "1",
            //                 pane: Pane(Property(
            //                     content: [
            //                         (kind: Text("")),
            //                     ], align: Right,
            //                 )),
            //             ),
            //             (
            //                 size: "100%",
            //                 pane: Pane(ProgressBar),
            //             ),
            //             (
            //                 size: "1",
            //                 pane: Pane(Property(
            //                     content: [
            //                         (kind: Text("")),
            //                     ], align: Right,
            //                 )),
            //             ),
            //         ]
            //     ),
            //     size: "1",
            // ),
            //// ############# progress bar style 3 (change progress_bar.symbols) #############
            (
                size: "1",
                pane: Split(
                    direction: Horizontal,
                    panes: [
                        (
                            size: "1",
                            pane: Pane(Property(
                                content: [
                                    (kind: Text("")),
                                ], align: Right,
                            )),
                            // pane: Pane(Property(content: [(kind: Property(Status(StateV2())))], align: Left)),
                            // size: "10",
                        ),
                        (
                            size: "100%",
                            pane: Pane(ProgressBar),
                        ),
                        (
                            size: "13",
                            pane: Pane(Property(
                                content: [
                                    (kind: Property(Status(Elapsed)), style: (fg: "#5FB3B3", modifiers: "Bold")),
                                    (kind: Text(" / "), style: (fg: "#a9a1e1", modifiers: "Bold")),
                                    (kind: Property(Status(Duration)), style: (fg: "#5FB3B3", modifiers: "Bold")),
                                    (kind: Text(" ")),
                                ], align: Right,
                            )),
                        ),
                    ]
                ),
            ),
        ],
    ),
    header: (
        rows: [
            (
                left: [
                    //(kind: Text("[ "), style: (fg: "#3071db", modifiers: "Bold")),
                    (kind: Property(Status(StateV2(
                        playing_label: " Playing",
                        // playing_style: <style>,
                        paused_label: " Paused",
                        paused_style: (fg: "yellow", modifiers: "Bold"),
                        stopped_label: " Stopped",
                        stopped_style: (fg: "red", modifiers: "Bold")
                    ))), style: (fg: "#a9a1e1", modifiers: "Bold")),
                    // (kind: Text(" ]"), style: (fg: "#3071db", modifiers: "Bold"))
                ],
                center: [
                    (kind: Text("[ "), style: (fg: "#a9a1e1", modifiers: "Bold")),
                    (
                        kind: Property(Song(Title)), 
                        style: (modifiers: "Bold", fg: "#5699af"),
                        default: (
                            kind: Text("No Song"), 
                            style: (modifiers: "Bold")
                        )
                    ),
                    (kind: Text(" ]"), style: (fg: "#a9a1e1", modifiers: "Bold")),
                ],
                right: [
                    (kind: Property(Widget(Volume)), style: (fg: "#5699af"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed)), style: (fg: "#5FB3B3", modifiers: "Bold")),
                    (kind: Text(" / "), style: (fg: "#a9a1e1", modifiers: "Bold")),
                    (kind: Property(Status(Duration)), style: (fg: "#5FB3B3", modifiers: "Bold")),
                    (kind: Text(" ("), style: (fg: "dark_gray")),
                    (kind: Property(Status(Bitrate)), style: (fg: "dark_gray")),
                    (kind: Text(" kbps)"), style: (fg: "dark_gray"))
                ],
                center: [(
                            kind: Property(Song(Artist)),
                            // style: (fg: "yellow", modifiers: "Bold"),
                            style: (fg: "blue", modifiers: "Bold"),
                            default: (
                                kind: Text("Unknown"),
                                style: (fg: "yellow", modifiers: "Bold")
                            )
                        ),
                        // (
                        //     kind: Text(" - "),
                        //     style: (fg: "#c678dd", modifiers: "Bold"),
                        // ),
                        // (
                        //     kind: Property(Song(Album)),
                        //     style: (fg: "182", modifiers: "Italic"),
                        //     default: (kind: Text("Unknown Album"))
                        // )
                ],
                right: [
                    // (
                    //     kind: Property(Widget(States(
                    //         active_style: (fg: "#a9a1e1", modifiers: "Bold"),
                    //         separator_style: (fg: "dark_gray")))
                    //     ),
                    //     style: (fg: "dark_gray")
                    // )
                    (
                        kind: Group([
                            (kind: Property(Status(RepeatV2(
                                on_label: " ",
                                off_label: " ",
                                on_style: (fg: "#a9a1e1", modifiers: "Bold"),
                                off_style: (fg: "dark_gray")
                            )))),
                            (
                                kind: Text(" / "),
                                style: (fg: "dark_gray", modifiers: "Bold"),
                            ),
                            (kind: Property(Status(RandomV2(
                                on_label: " ",
                                off_label: " ",
                                on_style: (fg: "#a9a1e1", modifiers: "Bold"),
                                off_style: (fg: "dark_gray")
                            )))),
                            (
                                kind: Text(" / "),
                                style: (fg: "dark_gray", modifiers: "Bold"),
                            ),
                            (kind: Property(Status(ConsumeV2(
                                on_label: " ",
                                off_label: " ",
                                oneshot_label: " ",
                                on_style: (fg: "#a9a1e1", modifiers: "Bold"),
                                off_style: (fg: "dark_gray"),
                                oneshot_style: (fg: "#5FB3B3")
                            )))),
                            (
                                kind: Text(" / "),
                                style: (fg: "dark_gray", modifiers: "Bold"),
                            ),
                            (kind: Property(Status(SingleV2(
                                on_label: " ",
                                off_label: " ",
                                oneshot_label: " ",
                                on_style: (fg: "#a9a1e1", modifiers: "Bold"),
                                off_style: (fg: "dark_gray"),
                                oneshot_style: (fg: "#5FB3B3")
                            )))),
                        ])
                    )
                ]
            ),
            (
                left: [(
                        kind: Property(Song(Filename)),
                        style: (modifiers: "Bold", fg: "#5699af"),
                    )
                    // (kind: Text("[ "), style: (fg: "dark_gray")),
                    // (kind: Property(Status(Bitrate)), style: (fg: "dark_gray")),
                    // (kind: Text(" kbps ]"), style: (fg: "dark_gray"))
                ],
                center: [(
                    kind: Property(Song(Album)),
                    style: (fg: "182", modifiers: "Italic"),
                    default: (kind: Text("Unknown Album"))
                )],
                right: []
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)