#custom-media {
    background-color: #2e3440;
    /* color: #ffa000; */
    min-width: 100px;
}

#custom-weather {
    background-color: #2e3440;
    /* padding: 0 0; */
    /* margin: 0 0; */
}

/* #custom-media.custom-spotify { */
/*     background-color: #66cc99; */
/* } */
/**/
/* #custom-media.custom-vlc { */
/*     background-color: #ffa000; */
/* } */
