#custom-media {
    background-color: #2e3440;
    /* color: #ffa000; */
    min-width: 100px;
}

#custom-runner-power {
    padding: 0 3 0 9;
    background-color: #2e3440;
    color: #94928f;
}

/* #custom-media.custom-spotify { */
/*     background-color: #66cc99; */
/* } */
/**/
/* #custom-media.custom-vlc { */
/*     background-color: #ffa000; */
/* } */
