#idle_inhibitor.deactivated {
    background-color: #2e3440;
    /* color: #51576d; */
    color: #928374;
}

#idle_inhibitor.activated {
    background-color: #2e3440;
    color: #c678dd;
}

#tray {
    background-color: #2e3440;
    padding: 0 10px;
    color: #ffffff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964b00;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

/* you can set a style on hover for any module like this */
/* #pulseaudio:hover { */
/*     background-color: #a37800; */
/* } */

#pulseaudio {
    color: #000000;
}

#pulseaudio.muted {
    /* background-color: #90b1b1; */
    color: #2a5c45;
}
